<NavLink href="/tasks" class="nav-link" Match="NavLinkMatch.All">
    <span class="oi oi-list-rich"></span> Task Dashboard
</NavLink>
<NavLink href="/add-task" class="nav-link">
    <span class="oi oi-plus"></span> Add Task
</NavLink>
